.container {
  padding: 20px;
  background-color: #121212;
  min-height: 100vh;
}

h1 {
  color: crimson;
  text-align: center;
}

.villain-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
